* {
  box-sizing: border-box;
  color: #191B1F;
}
body {
  font-family: Lato, sans-serif;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}
.main-content {
  background: #9bbeff;
  padding: 10px;
  box-shadow: inset 1px 1px 10px 10px rgba(27, 108, 255, 0.1);
}
.main-content h2,
.main-content p {
  color: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}
.main-content p {
  font-size: 18px;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  margin: 20px 0;
  line-height: 1.25;
}
header {
  width: 100vw;
  height: 15vh;
  padding-top: 2rem;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}
nav a {
  text-decoration: none;
  border: 2px solid #ffae1b;
  padding: 10px 10px;
  color: black;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
nav a:hover {
  color: white;
  background: #ffae1b;
  box-shadow: 1px 1px 10px 10px rgba(155, 190, 255, 0.1);
}
.accordion {
  background: #fff;
  box-shadow: 1px 1px 10px 5px rgba(155, 190, 255, 0.2);
}
.panel {
  color: #64656A;
  padding: 30px;
  border-top: 2px solid #ffae1b;
}
.panel:first-child {
  border-top: none;
}
.panel:last-child {
  border-bottom: 2px solid #ffae1b;
}
.panel-bar {
  display: flex;
  justify-content: space-between;
}
.panel-bar h3 {
  color: #1b6cff;
  font-size: 20px;
}
.panel-buttons button {
  cursor: pointer;
  background: #9bbeff;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  padding: 5px;
}
.hide-btn {
  display: none;
}
.panel-content {
  display: none;
  margin-top: 15px;
}
.toggle-on {
  display: block;
}
